#*#
*.aux
*.backup
*.core
*.dSYM
*.dvi
*.gcda
*.gch
*.log
*.noopt
*.o
*.optimized
*.pch
*.unsafe
*.xcodeproj
*~
.DS_Store
.cproject
.deps
.gitcheckout
.goutputstream-*
.hg
.project
.svn
.vscode
a.out
core*
cmake-build-*
cscope.out
pset.tgz
strace.out
tags
tags.*
typescript
vgcore*

evil
os[0-9][0-9].img
testqs
testqs[0-9]
